.header {
    font-style: bold;
    color: red;
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
}

.links {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

